<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Yerevan Detective Fun</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body class="main-page">
        {% image 'static/header.jpg', 'Yerevan Detective fun. City quest 2023', 'page-image' %}

        <div class="answers">
            {% for task in tasks.questions %}
                <form class="answers__card answer-card js-answer-form" data-task-id="{{ task.id }}">
                    <h2 class="answer-card__title">{{ task.question }}</h2>
                    <label class="answer-card__label" for="inp-{{ task.id }}">Ответ:</label>
                    <input name="answer" class="answer-card__input" id="inp-{{ task.id }}" value="ok"/>
                    <button type="submit" class="answer-card__check-btn">Проверить</button>
                    <output class='answer-card__answer'>Ответ не проверен</output>
                </form>
            {% endfor %}
        </div>
        <script src='/answers-checker.js'></script>
    </body>
</html>